body
  background Window
  color MenuText

#tabs
  margin 0
  padding 0

.tab
  display flex
  width 100%
  padding 1px 6px
  list-style none
  //opacity 0.9

.favicon
  width 16px
  height 16px
  display inline-block
  flex none
  margin-right 8px
  opacity 0.7
  will-change transform
  > img
    width 16px
    height 16px

  position relative

.no-favicon
  position relative
  &:before
    content ''
    display block
    position absolute
    left 50%
    top 50%
    transform translateX(-50%) translateY(-50%)
    width 4px
    height 4px
    background-color MenuText
  > img
    display none

span
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  align-self center
  color GrayText
  flex 1

.audible > .soundicon
  content ' '
  display block
  flex none
  //align-self center
  width 1.4em
  height 1.4em
  background-color MenuText
  mask url(tab-audio-playing.svg)

.audible.muted > .soundicon
  mask url(tab-audio-muted.svg)

.loaded
  > .favicon
    opacity 1
  > span
    color MenuText

.highlighted
  background-color Highlight
  > span
    color HighlightText

.highlighted
  .no-favicon:before
    background-color HighlightText
